{% extends 'base.html' %}

{% block content %}

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>English</h2>
    <p><a class="btn btn-default" href="en/" role="button" name="home_en">Enter Site &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>한국어</h2>
    <p><a class="btn btn-default" href="kor/" role="button">웹사이트로 이동 &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>中国</h2>
    <p><a class="btn btn-default" href="chn/" role="button">(Chinese) &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

{% endblock %}