/************* Navigation Bar CSS *************/
/* Navigation Bar Height Adjustment */
.nav {
    height: 50px;
}

/* Navigation Bar Background Color */
.navbar-inverse {
    background-color: #FFF; /* white */
    border-color: #FFF; /* white */
}

/* Navigation Bar Position */
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
}

/* Navigation Bar Brand Color And Font */
.navbar-inverse .navbar-brand {
    color: #5333A4;
    font-weight: bold;
}

/* Navigation Bar Brand Font Size And Padding */
.navbar-brand {
    font-size: 24px;
    padding: 15px 10px;
}

/* Navigation Bar Active Option Hover Change Color */
/*
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #784FDF;
}
*/
/* Navigation Bar Brand Hover Change Color */
.navbar-inverse .navbar-brand:hover {
    color: #784FDF;
}

/* Navigation Bar Options Hover Change Color */
.navbar-inverse .brand, .navbar .nav > li > a:hover {
    color: #784FDF;
}

/* Navigation Bar Options Color and Font-Size */
.navbar-inverse .navbar-nav>li>a {
  color: #5333A4;
  font-size: 18px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #5333A4;
    background-color: #FFF;
}

.glyphicon.glyphicon-camera {
    display: block;
    font-size: 100px;
    text-align: center;
}

/************* Homepage CSS *************/
.jumbotron {
    margin-top: 50px;
    background-color: #5333A4;
    height: 400px;
    text-align: center;
    color:black;
}
/*
.homepage h1 {
    font-size: 50px;
}
*/
.btn {
    margin: 0 auto;
}

/************* Get Started CSS *************/
.get_started {
    margin-top: 50px;
    background-color: #5333A4;
    height: 400px;
    text-align: center;
}



